extends layout

block content
  //- h1= title
  //- p Welcome to #{title}

  h1 Navigate Pokémons
  h5 &copy; 2020 Made with ❤️ by BOULARBAH ISMAIL
  .poke_container.poke-container
  br
  center
    //- button(onclick='fetchNextPokemons()').next-pokemons-list Next Pokémons
    //- button.next-pokemons-list Next Pokémons
    
